
.btn__elem1, .btn__elem2, .btn__elem3 {
    border-radius: 8px;
    width: 182px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    }
.btn__elem1 {
    background: var(--blue);;
}
.btn__elem2 {
    background: var(--purple);
}
.btn__elem3 {
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn__elem1:hover {
    background: #2342C0;
    cursor: pointer;
}
.btn__elem2:hover {
    background: #5028C6;
    cursor: pointer;
}
.btn__elem3:hover {
    border: 1px solid #212429;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}
.btn__elem1_disabled, .btn__elem2_disabled, .btn__elem3_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}