.modal{
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: Inter;
    font-style: normal;
    background: #C4C4C4;
    opacity: 0.5;
}
.modal__window{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:428px;
    height:294px;
    background: var(--white);
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.modal__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;;
}
.modal__text{
    padding-top: 14px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.modal__close{
    position: absolute;
    top:15px;
    right: 15px;
    width: 10px;
    height: 10px;
    color: var(--grey-4);
}
.modal__close:hover{
    cursor: pointer;
}