body {
    text-align: center;
}
.tooltip{
    display: inline-flex;
    position: relative;
    cursor: pointer;
    margin-top: 50px;
}
.tooltip__icon {
    width: 24px;
    height: 24px;
}
.tooltip__bubble {
    display: inline-flex;
    background: var(--black);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    color: var(--white);
    padding: 13px 21px 8px 21px;
    position: absolute;
    top: calc(-200% - 3px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    font-size: 16px;
    line-height: 24px;
}
.tooltip__bubble:after {
    content: "";
    position: absolute;
    bottom: -40%;
    left: 50%;
    border: 12px solid transparent;
    border-top: 8px solid var(--black);
    transform: translateX(-50%);
}
.tooltip__icon:hover ~ .tooltip__bubble {
 display: block;
}